*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: wheat;
}
.container{
    font-family: 'Roboto', sans-serif;
}
.header{
    margin: 25px;
    height: 100px;
    background-color: white;
}
.header h1{
    margin-left: 50px;
    font-size: 32px;
    line-height: 100px;
    font-weight: 700;
}
.product{
    background-color: white;
    text-align: center;
}
.product img{
    max-height: 100%;
    max-width: 100%;
}
.product h3{
    line-height: 1.5;
    font-weight: 700;
}
.product .detail{
    background-color: black;
}
.detail h3{
    line-height: 2.5;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}